# ==============================================================================
# Job RPC environment
# Copy this file to .env.job when bootstrapping a new environment.
# ==============================================================================

JOB_NAME=wf-account-job.rpc
JOB_LISTEN_ON=0.0.0.0:9105

JOB_DATABASE_DB_NAME=wf

JOB_LOG_SERVICE_NAME=wfAccountJobRpcLogger
JOB_LOG_MODE=console
JOB_LOG_PATH=./data/logs/wf-account-job/rpc
JOB_LOG_ENCODING=json
JOB_LOG_LEVEL=info
JOB_LOG_COMPRESS=false
JOB_LOG_KEEP_DAYS=7
JOB_LOG_STACK_COOLDOWN_MILLIS=100

JOB_PROMETHEUS_HOST=0.0.0.0
JOB_PROMETHEUS_PORT=4005
JOB_PROMETHEUS_PATH=/metrics

JOB_ASYNQ_ENABLE=true
JOB_ASYNQ_CONCURRENCY=20
JOB_ASYNQ_SYNC_INTERVAL=10

JOB_ENABLE_SCHEDULED_TASK=false
JOB_ENABLE_DP_TASK=true

JOB_RELAY_CHAINS_URL=https://api.relay.link/chains

# dev
JOB_DEV_LOG_MODE=console
JOB_DEV_LOG_LEVEL=debug

# test
JOB_TEST_LISTEN_ON=0.0.0.0:9115
JOB_TEST_LOG_MODE=file
JOB_TEST_LOG_PATH=./data/logs/wf-account-job/test/rpc
JOB_TEST_LOG_LEVEL=debug
JOB_TEST_DATABASE_DB_NAME=wf_test
JOB_TEST_REDIS_DB=1
JOB_TEST_PROMETHEUS_PORT=4015

# pre
JOB_PRE_LISTEN_ON=0.0.0.0:9125
JOB_PRE_LOG_MODE=file
JOB_PRE_LOG_PATH=./data/logs/wf-account-job/pre/rpc
JOB_PRE_LOG_KEEP_DAYS=14
JOB_PRE_DATABASE_DB_NAME=wf_pre
JOB_PRE_REDIS_DB=2
JOB_PRE_PROMETHEUS_PORT=4025

# prod
JOB_PROD_LOG_MODE=file
JOB_PROD_LOG_PATH=./data/logs/wf-account-job/prod/rpc
JOB_PROD_LOG_COMPRESS=true
JOB_PROD_LOG_KEEP_DAYS=30
JOB_PROD_DATABASE_DB_NAME=wf_prod
JOB_PROD_REDIS_DB=3
